<body>
    <!-- Intro -->
    <div class="intro">
        <h1 class="titleabout">Learn more about Escher</h1>
        <br>
        <div class="imgabout"><img class="picture" src="/images/pic.jpg"/></div>
        <div class="abouttext"> 
            <p>Some text about Escher's life </p>
            <p> Born in </p>
            <p> Work</p>
            <p> death</p>
        
        </div>

    </div>

</body>
