<body>
    <!-- Intro -->
        <div class="intro">
            <h1 class="title">Welcome to my Escher page!</h1>
            <br>
            <div class="intro"><img class="introimg" src="/images/img1.jpg" /></div>
        </div>
</body>
